.Container {
  display: flex;
  flex-direction: row;
  padding: 20;
  align-items: center;
 }
.Title {
 font-weight: bold;
 margin-right: 10px;
 font-size: 30px;
}
.Transaction {
  display: flex;
  margin-right: 10px;
}